.calendar-popup {
  position: relative;
  display: inline-block;
}

.react-calendar {
  position: relative;

  padding: 15px 15px 7px 15px;

  border-radius: 7px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.popup-calendar::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);

  width: 0;
  height: 0;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid white;
}

.react-calendar__navigation {
  padding: 0 10px;
  margin-bottom: 18px;
}

.popup-calendar {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.popup-calendar::after {
  content: '';
  position: absolute;
  top: 68px;
  width: 100%;
  height: 1px;
  background-color: #cccccc;
}

.react-calendar__tile--now {
  background-color: white;
}

.react-calendar__navigation button:disabled {
  background-color: white;
}

.react-calendar__navigation__label {
  background-color: none;
}

.react-calendar__navigation__label__labelText {
  font-size: 34px;
  color: #333333;
}

.react-calendar__month-view__days__day {
  font-size: 22px;
  font-feature-settings: 'tnum';
}

.react-calendar__month-view__days__day--neighboringMonth,
.neighbor-month {
  color: #E6E6E6 !important;
}

.past-day:not(.neighbor-month) {
  color: #808080;
}

.react-calendar__tile {
  color: #333333;
}

.react-calendar button {
  margin-bottom: 3px;
}

.sunday {
  font-weight: 700;
}

.react-calendar__month-view__weekdays__weekday {
  display: none;
}

.react-calendar__navigation__prev-button,
.react-calendar__navigation__next-button {
  padding: 0;

  font-size: 0;
  line-height: 0;

  background: none;
  border: none;
}

.react-calendar__navigation__prev-button:hover,
.react-calendar__navigation__next-button:hover {
  background-color: white !important;
}

.react-calendar__navigation__prev-button::before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #292929;
}

.react-calendar__navigation__next-button::before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #292929;
}

.react-calendar__tile--active {
  position: relative;
  z-index: 1;

  border: 2px solid #FFA800 !important;
  border-radius: 5px;
  background: transparent !important;
}

.react-calendar__tile--active::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  background-color: rgba(255, 168, 0, 0.31);
  border-radius: 5px;
  pointer-events: none;
}
