.modal-message__overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.4);
}

.modal-message {
  z-index: 1001;

  box-sizing: border-box;
  width: 666px;

  background-color: #fff;
  border: 1px solid #C4C4C4;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
}

.modal-message__header {
  padding: 41px 0 26px 39px;
  background-color: rgba(255, 61, 0, 0.38);

  border-bottom: 1px dashed #928F94;
}

.modal-message__content {
  padding: 45px 0 45px 51px;
  border-bottom: 1px dashed #928F94;
}

.modal-message__title {
  margin: 0;

  font-weight: 500;
  font-size: 24px;
}

.modal-message__text {
  margin-top: 30px;
  font-size: 18px;
}

.modal-message__button-wrapper {
  display: flex;
  justify-content: center;
  padding: 31px 0;
}

.modal-message__button {
  padding: 12px 68px;

  font-weight: 700;
  font-size: 24px;

  background-color: #fff;
  border: 1px solid #292929;
  border-radius: 5px;
}

.modal-message__button:hover {
  cursor: pointer;
  background-color: #ededed;
}

.error-modal__button:hover {
  cursor: pointer;
  background-color: #ededed;
}

.modal-message__info .modal-message__header {
  background-color: rgba(255, 245, 0, 0.36);
}