.header__content {
  box-sizing: border-box;

  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  padding: 15px 0 5px 256px;

  font-weight: 900;
  font-size: 36px;

  background-color: rgba(0, 0, 0, 0.6);
  color: #E5E5E5;
}

.header__nav {
  padding: 25px 0 29px 258px;
  margin-bottom: 253px;

  background-color: #292929;
}

.header__nav-list {
  display: flex;
  gap: 85px;

  font-weight: 300;
  font-size: 30px;

  color: white;
}

.header__search-container {
  display: flex;
  justify-content: space-between;
  padding: 0 230px 0 345px;
}

.header__slogan {
  margin-top: 159px;

  font-weight: 100;
  font-size: 72px;

  color: #FFFFFF;
}

.header__slogan-highlight {
  font-weight: 700;
}

.trip-search {
  box-sizing: border-box;
  padding: 79px 24px 0 29px;
  width: 730px;
  display: flex;
  flex-direction: column;

  background-color: rgba(41, 41, 41, 0.8);
}

.trip-search__title {
  margin: 0 0 12px 6px;

  font-size: 30px;
  font-weight: 300;

  color: #FFFFFF;
}

.trip-search__direction,
.trip-search__date {
  width: 100%;
}

.trip-search__date {
  margin-bottom: 87px;
}

.trip-search__inputs {
  display: flex;
  gap: 37px;
}

.trip-search__input {
  padding: 19px 0 21px 21px;
  width: calc(100% - 20px);

  font-size: 18px;

  border-radius: 3px;
  border: none;
}

.trip-search__input::placeholder {
  color: #E5E5E5;
}

.direction__inputs {
  margin-bottom: 61px;
  gap: 7px;
}

.direction__input-wrapper,
.date__input-wrapper {
  position: relative;
  width: 100%;
}

.direction__input-wrapper::before,
.date__input-wrapper::before {
  content: '';
  position: absolute;
  right: 17px;
  top: 50%;

  width: 20px;
  height: 30px;

  transform: translateY(-50%);
  background-image: url('../images/geoposition-marker.png');
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}

.date__input-wrapper::before {
  width: 30px;
  height: 33px;
  background-image: url('../images/calendar.png');
}

.trip-search__btn {
  align-self: flex-end;
  padding: 17px 62px;
  margin: 0 0 49px 0;

  font-size: 24px;
  font-weight: 700;

  color: #292929;
  text-transform: uppercase;
  background-color: #FFA800;
  border-radius: 5px;
}

.trip-search__btn:hover,
.ticket__button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.trip-search__btn:active,
.ticket__button:active {
  background-color: transparent;
  border: 1px solid #FFA800;
  color: #FFA800;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.trip-search__reverse {
  align-self: center;
  width: 39px;
  height: 26px;

  background-color: transparent;
  border: none;
  background-image: url('../images/reverse.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.header__loading {
  height: 8px;
  background-color: #292929;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.header__loading-progress {
  background-color: #FFA800;
  height: 100%;
  width: 0%;
  transition: width 0.3s ease;
}

.about {
  padding: 140px 258px 101px 258px;
}

.about__title {
  font-weight: 500;
  font-size: 36px;

  color: #292929;
  text-transform: uppercase;
}

.about__content {
  position: relative;
  width: 82%;
  padding: 3px 0 0 26px;
}

.about__content::before {
  content: '';
  position: absolute;
  top: 31px;
  left: 0;

  width: 9px;
  height: calc(100% - 22px);

  background-color: #FFA800;
}

.about__text {
  font-size: 24px;

  color: #292929;
}

.about__text-highlight {
  font-weight: 700;
}

.how {
  padding: 58px 265px 101px 248px;

  color: #FFFFFF;
  background-image: url('../images/how-background.png');
  background-repeat: no-repeat;
}

.how__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 99px;
}

.how__title {
  font-weight: 500;
  font-size: 36px;

  text-transform: uppercase;
}

.how__button {
  padding: 16px 73px;

  font-weight: 700;
  font-size: 24px;

  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}

.how__advantages {
  display: flex;
  justify-content: center;
  gap: 125px;
}

.advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17%;
}

.advantage__img {
  margin-bottom: 29px;
}

.advantage__text {
  margin: 0;

  font-size: 24px;
  text-align: center;
}

.reviews {
  padding: 152px 261px 117px 249px;
}

.reviews__title {
  margin-bottom: 73px;

  font-weight: 500;
  font-size: 36px;

  text-transform: uppercase;
  color: #292929;
}

.slider__reviews {
  display: flex;
  gap: 42px;
  margin-bottom: 130px;
}

.review {
  display: flex;
  width: 50%;
  gap: 19px;

  font-size: 18px;
}

.review__content {
  padding-top: 22px;
  width: 59%;
}

.review__title {
  margin: 0 18px 20px 18px;
  font-weight: 500;
  font-size: 24px;

  color: #000000;
}

.review__text {
  position: relative;
  margin: 0;
  margin-left: 20px;

  font-weight: 300;

  color: #928F94;
}

.slider__dots {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dot {
  width: 19px;
  height: 19px;

  border-radius: 50%;
  background-color: #E5E5E5;
}

.dot:hover {
  cursor: pointer;
  background-color: #e0e0e0;
}

.dot__active {
  background-color: #C4C4C4;
}

.quote__left {
  position: absolute;
  left: -16px;
  top: -6px;
  font-weight: 500;
  font-size: 36px;

  color: #928F94;
}

.quote__right {
  position: absolute;
  margin: 5px;
  font-weight: 500;
  font-size: 36px;

  color: #928F94;
}

.footer {
  position: relative;
  box-sizing: border-box;
  padding: 47px 259px 33px 252px;
  background-color: #2D2B2F;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer::after {
  content: '';
  position: absolute;
  bottom: 97px;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: #E5E5E5;
}

.footer__contacts {
  padding-left: 85px;
  width: 22%;
}

.footer__title {
  margin-bottom: 31px;
  font-weight: 500;
  font-size: 30px;

  color: #FFFFFF;
}

.contacts__elem,
.social-media__text {
  position: relative;
  margin: 0 0 28px 65px;

  font-size: 24px;

  color: #E5E5E5;
}

.contacts__phone::before {
  content: '';
  position: absolute;
  left: -65px;

  width: 30px;
  height: 30px;

  background-image: url('../images/footer-phone.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.contacts__mail::before {
  content: '';
  position: absolute;
  left: -65px;

  width: 30px;
  height: 25px;

  background-image: url('../images/footer-mail.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.contacts__skype::before {
  content: '';
  position: absolute;
  left: -65px;

  width: 30px;
  height: 30px;

  background-image: url('../images/footer-skype.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.contacts__adress::before {
  content: '';
  position: absolute;
  left: -65px;

  width: 21px;
  height: 30px;

  background-image: url('../images/footer-geolocation.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.footer__social-media {
  padding-right: 55px;
}

.social-media__text {
  margin: 0 0 13px 0;
}

.social-media__field-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 42px;
  gap: 33px;
}

.social-media__field {
  box-sizing: border-box;
  padding: 20px 21px 16px 21px;
  width: 447px;

  border-radius: 3px;
}

.social-media__field::placeholder {
  font-size: 24px;
  color: #E5E5E5;
}

.social-media__btn {
  padding: 15px;

  font-size: 24px;

  color: #E5E5E5;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid #FFFFFF;
  cursor: pointer;
}

.social-media__btn:hover,
.how__button:hover {
  background-color: #FFCA62;
  color: #2D2B2F;
  border: 1px solid #FFCA62;
}

.social-media__btn:active,
.how__button:active {
  background-color: #FFFFFF;
  color: #2D2B2F;
  border: 1px solid #FFFFFF;
}

.links__title {
  margin-bottom: 21px;
}

.links__list {
  display: flex;
  gap: 48px;
}

.item__icon {
  fill: #E5E5E5;
}

.item__icon:hover {
  fill: #FFCA62;
}

.footer__bottom {
  display: flex;
  margin-top: 37px;
  justify-content: space-between;
  align-items: center;
}

.bottom__logo {
  background-color: transparent;
  padding: 0;
}

.bottom__link {
  display: block;
  width: 36px;
  height: 36px;
  margin-left: 28px;

  border: 1px solid #E5E5E5;
  border-radius: 50%;
  background-color: transparent;
  background-image: url('../images/footer-arrow.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.bottom__date {
  font-weight: 300;
  font-size: 24px;

  color: #E5E5E5;
  text-transform: uppercase;
}