.order-confirmation-ticket {
  border: 1px solid #C4C4C4;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 45px;
}

.order-confirmation-ticket .ticket {
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

.confirmation-page-wrapper {
  width: 68%;
}

.order-confirmation__header {
  padding: 28px 0 30px 31px;

  background-color: #fff;
  border-bottom: 1px solid #C4C4C4;
}

.order-confirmation-passengers {
  background-color: #fff;
  border: 1px solid #C4C4C4;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 45px;
}

.order-confirmation-title {
  font-size: 30px;
  color: #292929;
}

.order-confirmation-passengers__content {
  display: flex;
}

.order-confirmation-passengers__footer {
  align-self: end;
}

.order-confirmation-passengers__item {
  display: flex;
  box-sizing: border-box;
  width: 670px;
  gap: 32px;
  padding: 61px 0 34px 30px;

  border-right: 1px dashed #E5E5E5;
  border-bottom: 1px dashed #E5E5E5;
}

.order-confirmation-passengers__item:last-child {
  padding-bottom: 90px;
  border-bottom: none;
}

.order-confirmation-passengers__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;

  font-size: 18px;

  color: #292929;
}

.order-confirmation-passengers__name {
  margin: 0 0 10px 0;
  font-size: 18px;

  color: #292929;
}

.order-confirmation-passengers__field {
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;

  color: #928F94;
}

.order-confirmation-passengers__footer {
  box-sizing: border-box;
  width: 100%;
  padding: 0 25px 25px 25px;
}

.order-confirmation-passengers__price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.order-confirmation-passengers__price-text {
  margin: 0;
  font-size: 30px;
  color: #292929;
}

.order-confirmation-passengers__price-value {
  margin: 0;
  margin-left: 20px;
  font-size: 30px;
  font-weight: 700;
  color: #292929;
}

.order-confirmation-passengers__price-value span {
  font-size: 30px;
  color: #928F94;
  font-weight: 300;
}

.order-confirmation-payment {
  border: 1px solid #C4C4C4;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  margin-bottom: 20px;
}

.order-confirmation-payment__content {
  display: flex;
}

.order-confirmation-payment__value {
  box-sizing: border-box;
  padding: 44px 23px 76px 33px;
  width: 670px;
  margin: 0;

  font-size: 24px;

  color: #292929;
  border-right: 1px dashed #E5E5E5;
}

.order-confirmation-payment__content-footer {
  align-self: end;
  box-sizing: border-box;
  width: 30%;
  padding: 0 25px 25px 25px;
}

.order-confirmation__edit {
  margin: 0;
  width: 100%;
  cursor: pointer;
}