.payment-form-container {
  width: 960px;

  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #C4C4C4;
  background-color: #fff;
}

.payment-form-title {
  padding: 35px 0 35px 35px;
  font-size: 30px;

  color: #292929;
  background-color: #F9F9F9;
  border-bottom: 1px dashed #928F94;
}

.payment-input-container {
  padding: 30px 35px 42px 35px;

  border-bottom: 1px dashed #C4C4C4;
}

.payment-input-name-wrapper {
  margin-bottom: 54px;
}

.payment-input-name-wrapper {
  display: flex;
  gap: 25px;
}

.payment-input-label {
  margin-bottom: 8px;

  color: #292929;
}

.payment-form-input {
  box-sizing: border-box;
  width: 280px;
  padding: 12px 15px;

  border: 1px solid #928F94;
  color: #292929;
  border-radius: 5px;
}

.payment-form-input.contacts {
  width: 360px;
  margin-bottom: 38px;
}

.payment-input-wrapper {
  display: flex;
  flex-direction: column;
}

.payment-type {
  padding: 52px 0 64px 35px;

  border-bottom: 1px dashed #928F94;
}

.payment-type.last {
  border-bottom: none;
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.checkbox-span {
  position: relative;
  padding-left: 48px;
  font-size: 20px;
  color: #928F94;
  cursor: pointer;
}

.checkbox-span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border: 2px solid #928F94;
  border-radius: 4px;
  background: #fff;
  box-sizing: border-box;
  transition: 0.2s;
}

.checkbox-span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;

  opacity: 0;
  transition: 0.2s;
}

.checkbox input:checked + .checkbox-span::before {
  border-color: #FFA800;
}

.checkbox input:checked + .checkbox-span::after {
  background-image: url("../images/payment-arrow.svg");
  opacity: 1;
}

.checkbox input:checked + .checkbox-span {
  color: #FFA800;
}

.payment-type__options {
  display: flex;
  gap: 60px;
  margin-top: 28px;

  font-size: 24px;
  font-weight: 700;

  color: #292929;
}

.payment-type__option {
  cursor: pointer;
}

.payment-type__option:hover {
  color: #FFA800;
}

.payment-type__option.selected {
  color: #FFA800;
}