@import './style/sidebar.css';
@import './style/fonts.css';
@import './style/main-page.css';
@import './style/train-choice.css';
@import './style/error-modal.css';
@import './style/wagon.css';
@import './style/seats-page.css';
@import './style/passengers.css';
@import './style/payment.css';
@import './style/order-confirmation.css';
@import './style/successful-order.css';

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input {
  outline: none;
  font-size: 18px;
  color: #292929;
}

.content {
  width: 100%;
  margin: auto;
}

.loading-content {
  padding: 261px 0 470px 0;

  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  text-align: center;

  color: #928F94;
  background-color: #3E3C41;
}

.slide {
  display: none;
  gap: 20px;
}

.slide--active {
  display: flex;
}